[% SET bodyclass = 'frontpage fullwidthpage' ~%]
[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% INCLUDE 'header.html', title = '' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

[% TRY %][% PROCESS 'front/pre-steps.html' %][% CATCH file %][% END %]

<div class="tablewrapper">
    <div id="front-howto">
        [% INCLUDE 'index-steps.html' %]

        <div class="fb-page" data-href="https://www.facebook.com/fixmycommunityUganda" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/fixmycommunityUganda"><a href="https://www.facebook.com/fixmycommunityUganda">Fix My Community</a></blockquote></div></div>

    </div>

    [% INCLUDE 'front/recent.html' %]
</div>

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
