// CMC has a blue body background with a skyline background image that fades
// to blue at the bottom, giving the illusion of an infinite background.
body {
    background: $color-cmc-blue url(images/background.jpg) top center no-repeat;
    background-size: 100%;
    color: #fff;
}

// Because the body is blue, we need to make sure the content blocks have a
// white background, to stand out.
.content {
    color: #333;
    background-color: #fff;
}

// Mobile header is taller, to give breathing space around "tall" logo
#site-header {
    border-top: none;
    background: transparent;
    height: 5em;

    // No idea why core uses .container to define #site-header height.
    // It's just confusing matters here, so reset it back to normal.
    .container {
        min-height: 0;
        padding-bottom: 0;
    }
}

// Custom CMC logo - also horizontally centred, rather than left-aligned.
#site-logo {
    @include high-dpi-background-image('images/logo-mobile');
    background-size: 175px 40px;
    background-position: 0 0;
    left: 50%;
    margin-left: (175px * 0.5 * -1);
}

// Move "three bars" icon down a bit, to visually match the CMC logo baseline.
#nav-link {
    top: 0.75em;
    right: 0.75em;
}

// Don't need the "report" button in the mobile header.
#report-cta {
    display: none;
}

