@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-logo {
    width: 299px;
    height: 40px;
    background: url(fixmycommunity-logo.png);
    background-repeat: no-repeat;
}

.share-report-on-facebook {
    a {
        display: block;
        padding: 0.7em 0.5em 0.5em 0.5em;
        @include border-radius(4px);
        background: #3b5998;
        color: #fff;
        text-align: center;

        &:visited {
            color: #fff;
        }

        &:hover,
        &:focus {
            background: darken(#3b5998, 5%);
            text-decoration: none;
        }

        img {
            margin-right: 0.5em;
            vertical-align: -0.2em;
            height: 1.3em;
            width: auto;
        }
    }
}
