@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,800&amp;subset=latin-ext');

@font-face {
  font-family: 'Corduroy Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Corduroy Regular'), local('Corduroy Slab'), url(/cobrands/yodenuncio/Corduroy-Regular.woff) format('woff');
}

@import "../sass/base";
@import "./base/header";
@import "./base/footer";
@import "./base/homepage";
@import "./base/report";
