// CMC has a blue body background with a skyline background image that fades
// to blue at the bottom, giving the illusion of an infinite background.
body {
    background: $color-cmc-blue url(images/background.jpg) top center no-repeat;
    background-size: 100%;
    color: #fff;
}

// Because the body is blue, we need to make sure the content blocks have a
// white background, to stand out.
.content {
    color: #333;
    background-color: #fff;
}

// Mobile header is taller, to give breathing space around "tall" logo
#site-header {
    border-top: none;
    background: transparent;
    height: 6em;

    // No idea why core uses .container to define #site-header height.
    // It's just confusing matters here, so reset it back to normal.
    .container {
        min-height: 0;
        padding-bottom: 0;
    }
}

body.frontpage #site-header,
body.mappage #site-header,
body.authpage #site-header {
    height: 5em;
}

// Custom CMC logo - also horizontally centred, rather than left-aligned.
#site-logo,
body.frontpage #site-logo {
    @include high-dpi-background-image('images/logo-mobile');
    background-size: 175px 40px;
    background-position: 0 0;
    top: 0.9em;
    left: 50%;
    margin-left: (175px * 0.5 * -1);
    width: 175px;
    height: 40px;
}

// On wide screens, the logo gets bigger.
@media (min-width: $screen-lg-min) {
    #site-header,
    body.frontpage #site-header,
    body.mappage #site-header,
    body.authpage #site-header {
        height: 8em;
    }

    #site-logo,
    body.frontpage #site-logo {
        @include high-dpi-background-image('images/logo');
        background-size: 300px 75px;
        margin-left: (300px * 0.5 * -1);
        width: 300px;
        height: 75px;
    }
}