                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                [% INCLUDE "main_nav.html" hide_mysoc_link='yes please' %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    <div class="site-footer">
        <div class="container">
            <h2 class="site-footer__logo">CuidoMiCiudad</h2>
            <div class="site-footer__row">
                <div class="site-footer__description">
                    <p>Cuido mi ciudad es una plataforma colaborativa donde los ciudadanos cumplen un rol central en el cuidado de la ciudad. Es el canal más efectivo para poner un reporte en nuestra circunscripción para hacerlo llegar a las manos correspondientes de su solución. Es un espacio para los vecinos y vecinas discutir y proponer soluciones a los problemas locales que nos afectan. </p>
                </div>
                <div class="site-footer__links">
                    <ul>
                        <li><a href="#">Terminos de Servicio</a></li>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">RSS</a></li>
                        <li><a href="#">Mail</a></li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__supporters">
                <a href="#" class="supporter-adn">ADN</a>
                <a href="#" class="supporter-usaid">USAID</a>
                <a href="#" class="supporter-wb">Banco Mundial</a>
                <a href="#" class="supporter-mysociety">mySociety</a>
            </div>
        </div>
    </div>

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
