                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                [% INCLUDE "main_nav.html" hide_mysoc_link='yes please' %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    <div class="site-footer">
        <div class="container">
            <p>Here is a footer!</p>
        </div>
    </div>

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
