          </tr>
        </table>
      </th>
      <th></th>
    </tr>
  </table>
  <table [% wrapper_table %] style="[% wrapper_style %]">
    <tr>
      <th></th>
      <th width="[% wrapper_max_width %]" style="[% td_style %][% hint_style %]" class="hint">
        [%~ IF email_footer %]
          [% email_footer %]
        [%~ ELSE %]
          Este email fue enviado automaticamente de una dirección de correo electronico no utilizado. Por favor, no responde al email.
        [%~ END %]
      </th>
      <th></th>
    </tr>
  </table>
</body>
</html>
