[%

email_summary = "Necesita confirmar sus preferencias de alertas de " _ site_name _ " antes que le enviamos alertas.";
email_columns = 1;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Por favor, confirme sus preferencias des alertas de email</h1>
  <p style="[% p_style %]">Por favor haz clic en el enlace abajo para confirmar que quiere recibir las alertas por email por su zona elegida.</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Sí, envíeme alertas por email</a>
  </p>
  <p style="[% p_style %]">Si ya no quiere suscribirse a los alertes de esta zona, solo tiene que ignorar ese email</p>
</th>

[% INCLUDE '_email_bottom.html' %]
