[%

email_summary = "Necesita confirmar su reporte de " _ site_name _ " antes de que se convierta al reporte público.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box %]
  <h1 style="[% h1_style %]">Por favor confirma su&nbsp;reporte</h1>
  <p style="[% p_style %]">Por favor haz clic en el enlace abajo para confirmar que quiere que su reporte aparezca
por [% site_name %], a pesar de no estuvo enviado al ayuntamiento 
.</p>
  <p style="[% p_style %]">Su reporte también aparecerá por el sitio de [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Sí, publicar mí reporte</a>
  </p>
  <p style="[% p_style %]">Si ya no desea publicar ese reporte, por favor no haga nada.</p>
  [% end_padded_box %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
