/* COLOURS */

$green: #0a4;

$primary: $green;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #fff;
$base_fg: $primary_text;

$nav_background_colour: #fff;
$nav_colour: #222;
$nav_hover_background_colour: $primary;

$col_click_map: $green;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$menu-image: 'menu-black';
