<div class="site-footer">
    <div class="container">
        <ul class="supporters">
            <li><a href="http://www.policianacional.gob.do"><img src="http://placehold.it/70x80" alt="Policía Nacional"></a></li>
            <li><a href="http://pgr.gob.do"><img src="http://placehold.it/110x60" alt="Ministerio Público"></a></li>
            <li><a href="https://www.usaid.gov"><img src="http://placehold.it/120x60" alt="USAID"></a></li>
            <li><a href="http://www.bancomundial.org"><img src="http://placehold.it/140x60" alt="Banco Mundial"></a></li>
            <li><a href="https://www.mysociety.org"><img src="http://placehold.it/120x60" alt="mySociety"></a></li>
            <li><a href="http://www.mujer.gob.do"><img src="http://placehold.it/120x80" alt="Luchemos Hasta Eliminar La Violencia Contra La Mujer"></a></li>
        </ul>
    </div>
</div>
