<div class="site-footer">
    <div class="container">
        <ul class="supporters">
                        <li>
                            <a href="https://itunes.apple.com/do/app/yo-denuncio-dr/id1315742281">
                                <img src="/cobrands/yodenuncio/images/itunes_store_logo.png" srcset="/cobrands/yodenuncio/images/itunes_store_logo.png 135w, /cobrands/yodenuncio/images/itunes_store_logo@2x.png 270w" width="135" height="40" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=org.mysociety.yodenuncio_app">
                                <img src="/cobrands/yodenuncio/images/google_play_logo.png" srcset="/cobrands/yodenuncio/images/google_play_logo.png 135w, /cobrands/yodenuncio/images/google_play_logo@2x.png 269w" width="135" height="40" alt="">
                            </a>
                        </li>
        </ul>
    </div>
    <div class="container">
        <ul class="supporters">
            <li><a href="http://www.policianacional.gob.do"><img src="/cobrands/yodenuncio/images/logo-policia-nacional.png" width="61" height="70" style="vertical-align: 5px" alt="Policía Nacional"></a></li>
            <li><a href="http://pgr.gob.do"><img src="/cobrands/yodenuncio/images/logo-ministerio-publico.png" width="133" height="40" alt="Ministerio Público"></a></li>
            <li><a href="https://www.usaid.gov"><img src="/cobrands/yodenuncio/images/logo-usaid.png" width="113" height="40" alt="USAID"></a></li>
            <li><a href="http://www.bancomundial.org"><img src="/cobrands/yodenuncio/images/logo-banco-mundial.jpg" width="192" height="40" alt="Banco Mundial"></a></li>
            <li><a href="https://www.mysociety.org"><img src="/cobrands/yodenuncio/images/logo-mysociety.png" width="146" height="30" alt="mySociety"></a></li>
        </ul>
    </div>
</div>
